
.workspace {
//    margin-left: 80px;
   background: #ffffff;
   margin-top: 12px;
   margin-bottom: 12px;
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;

}





