.fade {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(8px);
}

.modal {
    margin: 0 auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    width: 480px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    min-height: 630px;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);

    .content {


    }
}