@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: auto;
    margin: 0px;
  }

  .tariffs .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 0px 16px;

  }

  .tariffs .pricing-card {
    width: 100%;
    padding: 24px;
  }

  .tariffs .pricing-card .pricing-card__content {
    padding: 24px;
  }

  .tariffs .pricing-card .pricing-card__footer {
    padding: 24px;
  }

  .header {
    display: none;
  }
}