.workspace {
    background: #fff;
    margin-top: 12px;
    margin-bottom: 12px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 0 32px;

    header {
        margin: 32px 0;
        display: flex;
        justify-content: space-between;
        gap: 16px;

        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px; 
    }

    .filter-bar {
        margin-bottom: 24px;
        height: 44px;
    }
}