* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
}

div {
    font-weight: bold;
}

.main {
    color: red;
    font-weight: normal;
}

.main div > ul {
  color: green;
}

a {
  color: green;
}

.main ul li + li {
  color: brown;
}

.side .menu {
  background: black;
}

body {
  margin: 0;
  font-size: 48px;
}
