* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    margin: 30px auto;
    max-width: 640px;
    user-select: none;
}

.carousel {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.container-carousel {
    display: flex;
    transform: translateY(-32px);
    transition: 0.5s transform;
}

.item-carousel {
    /* overflow: hidden; */
}

.container-button-slide {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
}

.button-slide:hover {
    color: rgba(0, 0, 0, 0.615);
    cursor: pointer;
}

.container-indicator {
    width: 100%;
    height: 20px;
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    margin-bottom: 15px;
}

.indicator {
    height: 15px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 4px;
}

.indicator:hover {
    border-color: rgba(0, 0, 0, 0.615);
    cursor: pointer;
}

.indicator-active {
    border-color: rgba(0, 0, 0, 0.615);
    background-color: gray;
}



