
.heading {
    color: #101828;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;

    margin-bottom: 20px;
}


.input {
    margin-bottom: 16px;

    label {
        color: #344054;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 6px;
        display: block;
    }

    input {
        padding: 10px 14px;
        border-radius: 8px;
        border: 1px solid #D0D5DD;
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: #101828;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        outline: none;
        display: block;
        width: 100%;
    }

    .hint {
        margin-top: 6px;
        color: #667085;
        display: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    &.error {
        .hint {
            display: block;
        }
    }

}

.textarea {
    margin-bottom: 16px;

    label {
        color: #344054;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 6px;
        display: block;
    }

    textarea {
        padding: 10px 14px;
        border-radius: 8px;
        border: 1px solid #D0D5DD;
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: #101828;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        outline: none;
        display: block;
        width: 100%!important;
        max-height: 94px;
    }

    .hint {
        margin-top: 6px;
        color: #667085;
        display: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    &.error {
        .hint {
            display: block;
        }
    }

}


.add-task-form {
    .row .input {
        flex: 1 0;
    }
}