@media only screen and (min-width:375px) and (max-width:400px) {
    section {
        padding: 0 16px !important;
        margin: 0px !important;
        width: auto;
    }

    .container,
    .header .header__text {
        width: auto;
        padding: 0px;
    }

    .header .header__text div:nth-child(2) {
        color: var(--gray-900, #101828);
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
    }

    .header .header__text div:last-child {
        color: var(--gray-500, #667085);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    .header .header__text div:first-child {
        color: var(--primary-600, #7F56D9);
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .header .header__enter {
        flex-direction: column;
        align-items: center;
    }

    .header .header__enter .header_button {
        width: 100%;
    }

    .block .content__block__text .content__block__text__many {
        width: auto;
        height: auto;
    }

    .block .content__block>img {
        display: inline-block;
        width: 343px;
    }

    .content .big_block {
        display: block;
        width: auto;
    }

    
    .content .container__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .content .container__content .mini_blocks {
        gap: 48px;
    }

    .block .mini_blocks_disp {
        display: flex;
        flex-direction: column;

    }

    .block .content__block__text .content__block__text__zagol {
        color: var(--gray-900, #101828);
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }

    .content .big_block .block .content__block__text .content__block__text__many {
        width: auto;
        height: auto;
        color: var(--gray-500, #667085);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .head {
        color: var(--gray-900, #101828);
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 32px;
    }

    .many__items__container__blocks .row__flex {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .pagination .napravlenie span {
        display: none;
    }

    .pagination .numbers span{
        display: none;
    }
    .pagination .numbers span.mobile{
        display: inline-block;
        width: auto;
    }
    section .container__content,section .header__block{
        margin-bottom:64px;
    }
    section .many__items__container__blocks{
        margin-bottom: 32px;
    }
    .pagination.disp {
        margin-bottom: 64px;
    }
}