* {

      margin: 0;
      padding: 0;
  
      } 
  
  * {
      box-sizing: border-box;
  
      }
  
  .container {
        width: 1216px;
        margin: auto;
        margin-bottom: 96px;
  
  }
  
  .header {
      display: flex;
      padding: 96px 0px;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      align-self: stretch;
  } 
  
  .hide {
      color: #667085);
      /* Text sm/Normal */
      width: 360px;
      margin-top: 8px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      color: #667085;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-decoration-line: underline;
  }
  
  /* section 1 */
  
  .header .content h1 {
        color: #7F56D9;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
  } 
  
  .header .content h6 {
        margin-bottom: 24px;
        color: #101828;
        margin-left: auto;
        margin-right: auto;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.96px;
    }
  
  .description {
      height: auto;
      width: 768px;
      margin: 0 auto;
      color: #667085;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      font-family: 'Inter';
  }
  
  .header .content .input {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
  
  }
  
  .email_capture {
      display: flex;
      width: 494px;
      align-items: center;
      gap: 16px;
      margin: 0 auto;
  
  
  }
  
  input {
      padding: 12px 14px 12px 16px;
      width: 360px;
      border-radius: 8px;
      border: 1px solid #D0D5DD;
      background: #FFF;
      /* Shadow/xs */
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .header .content input::placeholder {
      color: #667085;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
  }
  
  .button {
      padding: 12px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid #7F56D9;
      background: #7F56D9;
      color:#FFFFFF;
      height: 48px;
      width: 118px;
      padding: 12px 20px 12px 20px;
      /* Shadow/xs */
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      /* Text md/Medium */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
  
  }
  
  .header .container {
      display: flex;
      width: 1280px;
      padding: 0px 32px;
      flex-direction: column;
      align-items: flex-start;
      /* gap: 32px; */
  }
  
  .container .heading {
      color:#2b59b6;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; 
  
  }
  
  .header.heading {
      display: flex;
      width: 1280px;
      padding: 0px 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
  }
  
  /* section 2 */
  
  section.recent-posts {
      height: 592px;
  }
  
  .recent-posts .container {
      margin: 0 auto;
      width: 1280px;
      height: 496px;
      padding: 0 32px;
      margin-bottom: 64px;
  }
  
  .recent-posts .container h4 {
      color: #101828;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 32px;
  }
  
  .recent-posts .container h4 + div {
      height: 432px;
      display: flex;
      gap: 32px;
      margin: 0;
  }
  
  .card {
      display: flex;
      margin: 0;
      gap: 24px;
  
  }
  
  .card .name_data {
      color: #6941c6;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-top: 32px;
  }
  
  .card .title {
      color: #101828;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin-top: 12px;
  }
  
  .card span {
      color: #667085;
      width: 100%;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
  }
  
  .recent-posts .container .card__1 {
      flex-direction: column;
      height: 432px;
      width: 592px;
      position: relative;
  }
  
  .tag  {
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
  
  }
  
  .card .tags {
        margin-top: 24px;
      display: flex;
      gap: 8px;
  }
  
  .recent-posts .card__1 .tags div:nth-child(1) {
        width: 67px;
        height: 24px;
      color: #6941c6;
      background: #f9f5ff;
  }
  
  .recent-posts .card__1 .tags div:nth-child(2) {
      color: #3538cd;
      width: 83px;
        height: 24px;
      background: #eef4ff;
  }
  
  .recent-posts .card__1 .tags div:nth-child(3) {
        width: 106px;
        height: 24px;
      background: #fdf2fa;
      color: #c11574;
  }
  
  img.point{
        position: absolute;
        left: 567px;
        top: 296px;
  }
  
  
  .recent-posts .card__1+div{
        display: flex;
        flex-direction: column;
        gap: 32px;
  }
  
  
  .recent-posts .card2, .recent-posts .card3{
        display: flex;
        gap: 24px;
        width: 592px;
        height: 200px;
  }
  
  .recent-posts .card__2 img{
        width: 320px;
  }
  
  .recent-posts .card__2 .name_data,.recent-posts .card__3 .name_data{
        margin: 0;
  }
  
  .recent-posts .card__2 .tags div:nth-child(1) {
        width: 67px;
        height: 24px;
        background: #F0F9FF;
        color: #026AA2;
  }
  
  .recent-posts .card__2 .tags div:nth-child(2) {
        width: 106px;
        height: 24px;
        background: #fdf2fa;
        color: #C11574;
  }
  
  .card2 .title, .card3 .title {
        font-size: 18px;
  }
  
  .recent-posts .card__3 .tags div:nth-child(1) {
        width: 67px;
        height: 24px;
        background: #ECFDF3;
        color: #027A48;
  }
  
  .recent-posts .card__3 .tags div:nth-child(2) {
        width: 106px;
        height: 24px;
        background: #fdf2fa;
        color: #C11574;
  }
  
  .recent-posts .card__3 img  {
        width: 320px;
  }
  
  .main .title {
        color: #101828;
        width: 1216px;
        margin-top: 96px;
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
  }
  
  .main .container > div:last-child {
        width: 1216px;
        display: grid;
        grid-template-columns: 384px 384px 384px;
        grid-template-rows: 444px 444px;
        grid-gap: 48px 32px;
  }
  
  .main .container .card {
        display: flex;
        flex-direction: column;
        margin: 0;
        position: relative;
  }
  
  .main .container .card .title {
        color: #101828;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-top: 12px;
        width: 344px;
        margin-left: 0;
  }
  
  .main .container .card h3 {
        color: #101828;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-top: 12px;
        width: 344px;
        margin-left: 0;
        margin-bottom: 12px;
  }
  
  .main .card img.point-1 {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 95%;
        top: 69%;
  }
  
  .main .card_1 .tags div:nth-child(1) {
        width: 95px;
        height: 24px;
        color: #6941c6;
        background: #f9f5ff;
  }
  
  .main .card_1 .tags div:nth-child(2) {
        color: #3538cd;
        width: 108px;
        height: 24px;
        background: #eef4ff;
  }
  
  .main .card_1 {
        grid-column: 1/2;
        grid-row: 1/2;
  }
  
  .main .card_2 .tags div:nth-child(1) {
        width: 73px;
        height: 24px;
        color: #3538cd;
        background: #f0f9ff;
  }
  
  .main .card_2 .tags div:nth-child(2) {
        color: #3538cd;
        width: 83px;
        height: 24px;
        background: #eef4ff;
  }
  
  .main .card_2 .tags div:nth-child(3) {
        color: #c4320a;
        width: 103px;
        height: 24px;
        background: #fff6ed;
  }
  
  .main .card_3 .tags div:nth-child(1) {
        width: 73px;
        height: 24px;
        color: #3538cd;
        background: #f0f9ff;
  }
  
  .main .card_3 .tags div:nth-child(2) {
        color: #6941c6;
        width: 83px;
        height: 24px;
        background: #f9f5ff;
  }
  
  .main .card_4 .tags div:nth-child(1) {
        width: 73px;
        height: 24px;
        color: #3538cd;
        background: #f0f9ff;
  }
  
  .main .card_4 .tags div:nth-child(2) {
        color: #6941c6;
        width: 83px;
        height: 24px;
        background: #f9f5ff;
  }
  
  .main .card_5 .tags div:nth-child(1) {
        color: #027a48;
        width: 174px;
        height: 24px;
        background: #ecfdf3;
  }
  
  .main .card_5 .tags div:nth-child(2) {
        color: #c11574;
        width: 56px;
        height: 24px;
        background: #fdf2fa;
  }
  
  .main .card_5 .tags div:nth-child(3) {
        color: #c01048;
        width: 54px;
        height: 24px;
        background: #fff1f3;
  }
  
  .main .card_6 .tags div:nth-child(1) {
        color: #6941c6;
        width: 83px;
        height: 24px;
        background: #f9f5ff;
  }
  
  .main .card_6 .tags div:nth-child(2) {
        color: #363f72;
        width: 146px;
        height: 24px;
        background: #f8f9fc;
  }
  
  
  /* navigation */
  
  .navigation .container {
        display: flex;
        height: 61px;
        margin-top: 181px;
        padding-top: 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
  
  }
  
  section.navigation > div {
        color: #667085;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
  
  .previous {
        display: flex;
        align-items: center;
      }
  
  .next {
        display: flex;
        align-items: center;
      }
  
  .pages {
        display: flex;
        gap: 8px;
        width: auto;
      }
  
  .pages > div {
        width: 40px;
        height: 40px;
        padding: 12px;
  }
  
  .pages > div:first-child {
        background-color: #f9f5ff;
        color: #7f56d9;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
  }