.section3 {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #FFF;
    width: 1216px;
    height: 61px;
    margin-left: 343px;
}

.pagination {
    display: flex;
    height: 61px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #EAECF0;
}

.numbers {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.number_base {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #7F56D9;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}