* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #6900C6;
}

#app {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
    height: 100vh; /* растянуть по высоте экрана */
}

