.button {

    padding: 10px 16px;
    border: 1px solid transparent;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;


    &.primary {
        border-color: #7F56D9;
        background-color: #7F56D9;
        color: #fff;
    }

    span:first-child {
        display: flex;
        align-items: center;
    }

    span:empty {
        display: none;
    }
}