*{
    margin: 0px;
    box-sizing: border-box;
    font-family: manrope;
}
.general{
    width: 1440px;
    height: 809px;
    background-color: #F2F7FF80;
}

/* Section header
 */
.header{
    display: flex;
    justify-content: space-between;
    }

.menu{
    display: flex;
    margin-top: 44px;
    margin-right: 166px;
    width: 540px;
    justify-content: space-around;
    color: #1D2530;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.menu div:first-child{
    color: #685ED6;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;    
}

.logo{
    display: flex;
    width: 123px;
    height: 33px;  
    margin-top: 45px;
    margin-left: 160px; 
    align-items: center;
    gap: 5px;
}
.title{
    width: 85px;
    height: 22px;
    color:  #1D2530;
    font-size: 28.111px;
    font-weight: 700;
    line-height: 21.083px;
}

.logo img{
    width: 33px;
    height: 33px;
    right: 40px;
}

/* Section content */

.content{
    display: flex;
    margin-top: 127px;
    margin-left: 165px;
}

.content h1{
    width: 392px;
    height: 120px;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 32px;
}

p{
    width: 489px;
    height: 102px;
    font-size: 23px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 23px;
}

span{
    color: #685ED6;
    font-weight: 800;
}

.text button{
    background-color: #685ED6;
    padding: 12px 32px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 6px;
    border: none;    
}

.image{
    margin: 0px;
    width: 690px;
    height: 555px;
    margin-right: 142px;
    position: relative;
    right: 55px;
}

/* Section content */
h3{
    color: #1D2530;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.button{
    display: flex;
    gap: 12px;
    margin-top: 32px;
    margin-right: 156px;
}

.button .registration{
    color: #FFF;
    background-color: #685ED6;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 700;
    line-height: 20px;
}

.button .enter{
    color: #685ED6;
    background-color: #F1E4FF;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 700;
    line-height: 20px;
}

/* Section inform */

.page{
    display: flex;
    margin: 0px;
    width: 1440px;
    height: 819px;
    background-color: #F2F7FF80;
    padding: 97px 0px 0px 165px;
}

.inform h1{
    width: 406px;
    height: 32px;
    font-size: 48px;
    font-weight: 800;
    line-height: 32px;
    /* margin-top: 97px; */
    /* margin-left: 165px; */
}

.inform .dignities img{
    width: 68px;
    height: 68px;
}
.dignities{
    margin-top: 68px;
    gap: 48px;
    display: flex;
    flex-direction: column;
}
.inf{
    display: flex;
    gap: 26px;
    align-items: center;
}

.inf>div{
    display: flex;
    flex-direction: column;
    width: 428px;
    
    
}

.inf ul{
    list-style: none;
    padding: 0px;
    color: #1D2530;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.inform-image{
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 666px;
    margin-top: 70px;
    margin-right: 265px;
    justify-content: end;
    position: static;
    background: no-repeat;
    background-image: url(images/smartfone.svg);
    background-position-x: right; 
    justify-content: space-around;   
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.time span{
    width: 16px;
    height: 9px;
    color: #8E8E93;
    font-size: 7px;
    font-weight: 400;
    line-height: 8.011px; 
}

.message-tBot-1{
    background-color: #F5F7F8;
    width: 265px;
    height: 83px;
    padding: 5px 0px 20px 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -90px;
    left: 111px;
}

.message-tBot-1>time{
    bottom: -69px;
}
.message-tBot-2{
    background-color: #F5F7F8;
    width: 266px;
    height: 39px;
    padding: 5px 0px 5px 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -53px;
    left: 112px;
}
.message-tBot-3{
    background-color: #F5F7F8;
    width: 273px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px 6px 12px;
    position: relative;
    bottom: -12px;
    left: 106px;

}
.message-tBot-4{
    background-color: #F5F7F8;
    width: 266px;
    height: 83px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 6px 10px;
    position: relative;
    bottom: 28px;
    right: -110px;
}

.message-client-1{
    background-color: #EFFCDE;
    width: 339px;
    height: 34px;
    padding: 8px 0px 9px 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -108px;
    left: 2px;

}
.message-client-2{
    background-color: #EFFCDE;
    width: 298px;
    height: 34px;
    padding: 6px 0px 6px 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -72px;
    left: 49px;
}
.message-client-3{
    background-color: #EFFCDE;
    width: 291px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px 8px 11px;
    position: relative;
    bottom: -33px;
    left: 35px;
}
.message-client-4{
    background-color: #EFFCDE;
    width: 207px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px 6px 12px;
    position: relative;
    bottom: 8px;
    left: 61px;
}
.message-client-5{
    background-color: #EFFCDE;
    width: 256px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 11px;
    position: relative;
    bottom: 47px;
    left: 110px;
}

.inform-image>div p{
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    align-items: center;
}





